<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SRTeam</title>
    <style>
        .wrapper{height:98vh;display:grid;place-items:center}.footer{position:fixed;bottom:0}.typing-demo{width:16ch;animation:typing 2s steps(22),blink .5s step-end infinite alternate;white-space:nowrap;overflow:hidden;border-right:3px solid;font-family:monospace;font-size:2em}@keyframes typing{from{width:0}}@keyframes blink{50%{border-color:transparent}}}
    </style>
</head>
<body>
<div class="wrapper">
    <div class="typing-demo">
        Owned by SRTeam.
    </div>
    <div class="footer">

    </div>
</div>
</body>
</html>